@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");


:root {
    --primary-color: #2c3c84;
    --secondary-color: #04a494;
    --light-background: #f4f4f4;
    --dark-background: #333333;
    --light-text: #f4f4f4;
    --dark-text: #333333;   
}


.light {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--dark-text);
    background-color: var(--light-background);
}

.dark {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--light-text);
    background-color: var(--dark-background);
}

.light .navbar {
    background-color: var(--dark-background);
    color: var(--light-text);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dark .navbar {
    background-color: var(--light-background);
    color: var(--dark-text);
}

.light .nav-item a {
    color: var(--light-text);
    text-decoration: none;
}

.dark .nav-item a {
    color: var(--dark-text);
    text-decoration: none;
}


.nav-item svg {
    fill: var(--primary-color);
    height: 30px;
    width: 30px;
    border: 1px solid red;
    vertical-align: middle;
}

.nav-item svg:hover {
    fill: var(--secondary-color);
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.nav-item:hover {
    background-color: var(--secondary-color);
    color: var(--light-text);
    border-radius: 5px;
}

.nav-item span {
    display: inline-block;
    width: 9em;
    padding-left: 10px;
    white-space: normal;
    word-break: break-word;
    vertical-align: middle;
}



